header{
    width: 100%;
    height: 10%;

}
table{
    width: 75%;
    margin-left: 12%;
    
}
table, th, td{
    text-align: center;
    border: 1px solid;
}
td{
    max-width: 50%;
}
#tableMain{
    width: 75%;
    margin-left: 12%;
}

h2{
    text-align: center;
}
#ID{
    width: auto;
}
#select{
    width: auto;
}
#logo{
    width: 15%;
    height: auto;
}
#CustDetails{
    height: 800px;;
    width: 90%;
    font-size: 14px;
    margin: 5%;
}
