<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='EC_Logo_Black.jpg') }}" alt="ECC" width="187.5" height="43.75"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/CustSearch">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/JobSearch">Jobs</a>
              </li>
              <li class="nav-item">
                <a href="/base" class="nav-link">Testing!!</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  New
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">New customer</a></li>
                  <li><a class="dropdown-item" href="/NewJobCard1">New Job</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
            {% block head %}
            <!-- for Search -->
            {% endblock %}
          </div>
        </div>
    </nav>
    <div class="container-fluid"></div>
    <div class="row mb-3 text-center pt-3">
        
        <div class="col-3 themed-grid-col">
            <h4>{{time["Date"]}}</h4>
        </div>
        <div class="col-3 themed-grid-col"></div>
        <div class="col-3 themed-grid-col"></div>
        <div class="col-3 themed-grid-col">Last Refresh @ {{time["Time"]}}</div>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>


</html>