{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Job ID</th>
            <th scope="col">Name</th>
            <th scope="col">Bike</th>
            <th scope="col">Duedate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for jobs in jobs %}
            <tr>
                <td >{{ jobs.CustFName }} {{ jobs.CustLName }}</td>
                <td>{{ jobs.jobID }}</td>
                <td>{{ jobs.BikeBrand }}, {{ jobs.BikeModel }}</td>
                <td>{{ jobs.DueDate }}</td>
                <td id="Select"><form action="{{ url_for('ViewJobCard', id=jobs.jobID) }}" method="get"  style="display:inline;">
                    <button class="btn btn-outline-Primary m-3" type="submit">Select</button></form></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}      