{% extends 'base.html' %}
{% block head %}
<form class="d-flex" role="search" action="{{ url_for('JobSearch')}}" method="get">
    <input class="form-control me-2" type="search" placeholder="Customer Search" name="search" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>   
{% endblock %}

{% block content %}
<div class="p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Name</th>
            <th scope="col">balance</th>
            <th scope="col"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for CustInfo in CustInfo %}
            <tr>
                <td>{{ CustInfo.Cust_ID }}</td>
                <td>{{ CustInfo.custFName }} {{ CustInfo.custLName }}</td>
                <td></td>
                <td><form action="{{ url_for('CustInfo', id=CustInfo.Cust_ID) }}" method="get"  style="display:inline;">
                    <button type="submit">Select</button></form></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}