<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <a  href="/"><img id="logo" src="{{ url_for('static', filename='EC_Logo_Black.jpg') }}" alt="Error"></a>
    <a href="/newCust"><button>new Customers</button></a>
    <a href="/NewJob"><button>New Job</button></a>
</header>
<body>
    <table>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</body>
</html>