{% extends 'base.html' %}

{% block content %}
<div class="p-5">
   <form method="post">
    <div class="row mb-4 text-center">
      {% for jobInfo in jobInfo %}
        <div class="col-4 themed-grid-col">
            <h3>{{ jobInfo.CustFName }} {{ jobInfo.CustLName }}</h3>
        </div>
        <div class="col-4 themed-grid-col">
            <p>{{ jobInfo.BikeBrand }}, {{ jobInfo.BikeModel }}</p>
        </div>
        <div class="col-4 themed-grid-col">
            <input class="form-control" type="date" value="{{ jobInfo.DueDate }}" name="DueDate" aria-label="Due Date"/>
        </div>
        <input hidden type="text" name="Cust_ID" value="{{ jobInfo.Cust_ID }}">
      {% endfor %}
    </div>

  <div class="card-body">
      {% for jobInfo in jobInfo %}
      <textarea name="JobDetails" style="height: 200px;" class="col-12">{{ jobInfo.JobDetails }}</textarea>
      {% endfor %}
  </div>
  <button class="btn btn-outline-success m-3" type="submit">Update</button>
</form>
</div>
{% endblock %}